<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.joa.swft.dao.UserPermMapper">

    <select id="selectPermByUserId" resultType="java.lang.String" parameterType="int">
        SELECT
          p.`perm_name`
        FROM
          permission p
        WHERE p.`id` IN
          (SELECT
            up.`perm_id`
          FROM
            user_perm up
          WHERE up.`user_id` = #{userId}) ;
    </select>
</mapper>